<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Customer Access Code of product@-->
<!--@vars {
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->


{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Hello Customer,"}}</p>


<p><strong>{{var name}}</strong> We are processing of your order id {{var order_id}}
 {{var accesscode}}
{{template config_path="design/email/footer_template"}}